@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852; 
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.paginaLogin {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.formulario-titulo {
  margin: 0 0 20px 0;
}

.formulario {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formulario input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.formulario button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.formulario button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.paginaListagem {
  background: #FFFFFF;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.paginaListagem-titulo {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

table {
  width:100%;
  table-layout: fixed;
}

.tbl-content {
  overflow-x:auto;
  margin-top: 0px;
  border: 2px solid #c4c2c2;
  background: #f2f2f2;
}

th {
  padding: 20px 15px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: 7px solid rgba(255,255,255,0.3);
  background: #c4c2c2;
}

td {
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: rgb(63, 62, 62);
  border-bottom: 1px solid #c4c2c2;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  background: #f2f2f2;
}

section {
  margin: 50px;
}

 .autor {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}

.autor a {
  color: #fff;
  text-decoration: none;
}

.autor a:hover {
  text-decoration: underline;
}

.botao-tabela {
  font-family: "Roboto", sans-serif;
  background: #4CAF50;
  width: 25%;
  border: 0px;
  margin: 2px;
  padding: 7px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  outline: 0;
}

.botao-tabela:hover,.botao-tabela:active,.botao-tabela:focus {
  background: #43A047;
}